<?xml version="1.0"?>
<!--
/**
 * @author Drubu Team
 * @copyright Copyright (c) 2021 Drubu
 * @package Iflow_IflowShipping
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Iflow_IflowShipping::iflow_operations"
             title="Iflow Shipping"
             module="Iflow_IflowShipping"
             sortOrder="110"
             parent="Magento_Sales::sales"
             resource="Iflow_IflowShipping::iflow_operations"/>
        <add id="Iflow_IflowShipping::iflow_operations_list"
             title="Generación masiva de envíos"
             module="Iflow_IflowShipping"
             sortOrder="10"
             parent="Iflow_IflowShipping::iflow_operations"
             action="iflow_iflowshipping/order/index"
             resource="Iflow_IflowShipping::iflow_operations_list"/>
        <add id="Iflow_IflowShipping::credentials"
             title="Configuración de credenciales"
             module="Iflow_IflowShipping"
             sortOrder="10"
             parent="Iflow_IflowShipping::iflow_operations"
             action="adminhtml/system_config/edit/section/shipping"
             resource="Iflow_IflowShipping::credentials"/>
        <add id="Iflow_IflowShipping::methods"
             title="Configuración del método de envío"
             module="Iflow_IflowShipping"
             sortOrder="10"
             parent="Iflow_IflowShipping::iflow_operations"
             action="adminhtml/system_config/edit/section/carriers"
             resource="Iflow_IflowShipping::methods"/>
    </menu>
</config>
