<?xml version="1.0"?>
<!--
/**
 * @author Drubu Team
 * @copyright Copyright (c) 2021 Drubu
 * @package Iflow_IflowShipping
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="iflow_iflowshipping" frontName="iflow_iflowshipping">
            <module name="Iflow_IflowShipping"/>
        </route>
    </router>
</config>
